@use '../utils/variables' as *;
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  main{
    padding: 20px;
  }

body{
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: $primary-color;
  color: #fff;
}