@use '../utils/variables' as *;
@use '../utils/mixins';
.banner__button{
    padding: 15px 25px;
    margin: 30px;
    background-color: $primary-color;
    color: #fff;
    text-shadow: 2px 2px 1px $active-color;
    border-radius: 20px;
    font-size: larger;
    flex-shrink: 0 ;

    min-width: 150px;
    min-height: 50px;
    animation: none;



    &--secondary{
      background-color: $secondary-color;


      }
      &:hover{
        cursor: pointer;
        background:  $hover-color;
        animation: pulse-grow 0.3s forwards;
        }

      &:active{
        background:  $active-color;
        }
       
      &:focus{
          background:  $active-color;
          border:rgb(79, 79, 255);
        }  

      @keyframes pulse-grow{

      0%{
        padding: 15px 25px;
        font-size: larger;
      }

      100%{
        padding: 17px 30px;
        font-size: medium;

      }
      }

      @media (min-width: 320px) and (max-width: 768px){
        padding: 10px 15px;
        margin: 15px;
        border-radius: 10px;
        font-size: 7x;
        &:hover{

        animation: none;
      }

      }


  }
  

  
